<?xml version='1.0' encoding='utf-8'?>
<widget id="com.titin.createcv" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="AndroidLaunchMode" value="singleTask" />
    <universal-links>
        <host name="createcv.page.link" scheme="https">
            <path url="/cv" />
        </host>
        <host name="create-cv.web.app" scheme="https">
            <path url="/__/auth/handler" />
        </host>
    </universal-links>
    <name>Create Cv</name>
    <description>A Create Cv project</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
</widget>
